# URL of the remote git repository
# ------------------------------------------------------------------
GIT_REMOTE="git@github.com:*******.git" 

# git tree (branch) or commit to produce an archive for, e.g. "test" 
# ------------------------------------------------------------------
GIT_TREEISH="master" 

# define the env
ENV="dev" # 'dev' 'prod'
# define the SSL enable
ENABLE_SSL="true" # 'true' 'false'